
@{
    ViewData["Title"] = "Index";
}
@section OpenSeadragonScripts {
    @await Html.PartialAsync("_OpenSeadragonScriptsPartial")
}
@section OpenSeadragonScripts2 {
    @await Html.PartialAsync("_OpenSeadragonScriptsPartial2")
}
<div style="display: flex; flex-direction: column; justify-content: flex-start;">
    <!--按钮用于标记的选择-->
    <div style="display: flex; flex-direction: row; justify-content: flex-start;">
        <h2>OpenSeadragon</h2>
    </div>
    <!--openseadragon-->
    <div style="display: flex; flex-direction: row; justify-content: flex-start;">
        <div style="display: flex; flex-direction: column; justify-content: flex-start; width:5%; height:5%;">
            <button id="rect" style="width:100%;">开始绘制</button>
            <button id="draw" style="width:100%;">自由绘制</button>
        </div>
        <div id="openSeadragon1" style="width:95%; height:970px;"></div>
    </div>
</div>

